<content-title-bar title=input.boutiqueDetail.boutiqueName/>
<search-boutique-filter totalHits=input.boutiqueDetail.totalHits/>
<product-list-container products=input.boutiqueDetail.products cdnPath=input.boutiqueDetail.cdnPath boutiqueId=input.boutiqueDetail.boutiqueId/>
