<html-container>
  <@title>Trendyol | ${data.currentPage}</@title>
  <@body-content>
    <header-component/>
    <await(boutiqueDetail from data.boutiqueDetailProvider)>
      <boutique-detail-container boutiqueDetail=boutiqueDetail/>
    </await>
  </@body-content>
</html-container>
