<html-container>
  <@title>Trendyol | ${data.currentPage}</@title>
  <@body-content>
    <header-component/>
    <await (productDetailData from data.productDetailProvider)>
      <product-detail-container productData=productDetailData/>
    </await>
  </@body-content>
</html-container>
