<div.sub-menu-buttons>
  <div.sub-menu-button>
    <a href="/">Anasayfa</a>
  </div>
  <div.sub-menu-button>
    <a href="/giris">Giriş Yap</a>
  </div>
  <div.sub-menu-button>
    <a href="/uyeol">Üye Ol</a>
  </div>
</div>
