class {
  onCreate(){
    console.log('module ready');
  }
  changeTab(i){
    console.log(arguments);
  }
}

<div.category-menu>
  <ul>
    <li for(tab in input.tabs | status-var=loop) on-click('changeTab', loop.getIndex())>
      <span class=(input.selectedIndex == loop.getIndex() && 'selected')>${tab.Name}</span>
    </li>
  </ul>
</div>
