class {
  onCreate(){

  }
  changeTab(i){
    this.emit('tabchange', i);
  }
}

<div.category-menu>
  <ul>
    <li for(tab in input.tabs | status-var=loop) on-click('changeTab', loop.getIndex())>
      <span class=(input.selected == loop.getIndex() && 'selected')>${tab.Name}</span>
    </li>
  </ul>
</div>
