<section.menu-section>
  <h5.sub-menu-title><include(input.title)/></h5>
  <div.menu-container>
    <div.menu-tabs><include(input.tabs)/></div>
    <div.menu-section-content>
      <include(input.content)/>
    </div>
  </div>
</section>
