class {
  onCreate(){
    this.state = {
      selectedTab: 0,
    }
  }

  changeTab(i){
    this.state.selectedTab = i;
  }
}


<boutique-list-tabs tabs=input.boutiqueListData.tabs selected=state.selectedTab on-tabchange('changeTab')/>
<boutique-list-items boutiques=input.boutiqueListData.boutiques tabIndex=state.selectedTab/>
