<macro boutique-list-box(boutiqueDetail)>
  <div.boutique-list-box>
    <a href=boutiqueDetail.name + "/butikdetay/" + boutiqueDetail.id>
      <img src="https://www.trendyol.com" + boutiqueDetail.img/>
    </a>
  </div>
</macro>

<div.boutique-list>
  <for(boutique in input.boutiques[input.tabIndex])>
    <boutique-list-box({
      img:boutique.image,
      id:boutique.boutiqueId,
      name: boutique.beautifiedName
    })/>
  </for>
</div>
