class {
  onCreate(){

  }
}

macro boutique-list-box(boutiqueDetail)
  div.boutique-list-box
    img src="https://www.trendyol.com"+boutiqueDetail.img

div.boutique-list
  for(boutique in input.boutiques[input.tabIndex])
    boutique-list-box({img:boutique.Image.DetailImage})
