<html-container>
  <@title>Trendyol | ${data.currentPage}</@title>
  <@body-content>
    <header-component/>
    <await(boutiqeTabList from data.boutiqueTabsProvider)>
      <boutique-list-container boutiqueListData=boutiqeTabList/>
    </await>
  </@body-content>
</html-container>
