<!DOCTYPE html>
<html>
<head>
  <title><include(input.title)/></title>
  <meta-tags/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <include(input.headerScripts)/>
  <include(input.headerStyles)/>
</head>
<body>
  <include(input.bodyContent)/>
  <include(input.bodyScripts)/>
</body>
</html>
