<!DOCTYPE html>
<html>
<head>
  <title><include(input.title)/></title>
  <meta-tags/>
  <include(input.headerScripts)/>
  <include(input.headerStyles)/>
</head>
<body>
  <include(input.bodyContent)/>
  <include(input.bodyScripts)/>
</body>
</html>
