class {
  onCreate(){
    this.state = {
      menuVisible: false
    }
  }
  menuToggle(){
    this.state.menuVisible = !this.state.menuVisible;
  }
}

<div.header>
  <a href="/">
    <img.logo src="./ty-logo.png"/>
  </a>
  <button.menu-button on-click('menuToggle')>
    <div class=(state.menuVisible ? 'menu-cross' : 'menu-lines')/>
  </button>
  <if(state.menuVisible)>
    <sidebar/>
  </if>
</div>
